.navbar.navbar-fixed-top{
  background: #a10054;
  background: #ffaaa6;
  border: 0px;
  height: auto;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar.navbar-fixed-top .nav.navbar-nav > li > a {
  color: #d5d5d5;
}

.navbar.navbar-fixed-top .nav.navbar-nav > li > a:hover {
  background: #ff8d68;
  background: #ff8c94;
}

.jumbotron{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: #ffecba;
  background: #dcedc2;
  color: #001f52;
}
.career{
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

.center{
  text-align: center;
}

.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 6px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
    border-color: #9fa0a0;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #ff8c94;
    position: absolute;
    left: 106px;
    top: 14px;
    border-radius: 100%;
  }
}
body{
  padding-top: 25px;
}
