.container {
    padding: 0 0rem;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: darkslateblue;
}

.headerLinkItem {
    margin: 2px;
    padding: 12px;
    color: aliceblue;
}

.headerLinkItem:hover {
    border-radius: 12px 12px 12px 12px;
    background-color: palevioletred;
}

.headerHomeItem {
    margin-right: auto;
}

.content {
    font-size: 40px;
    font-weight: 10000;
    animation: rotate 5s linear infinite alternate;
    transform-origin: center bottom;
    color: #ACB6E5;
    background: -webkit-linear-gradient(0deg, #fc0d0d, #078823);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
