.container {
    padding: 0 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin-bottom: 400px;
    font-size: 40px;
    animation: rotate 2s linear infinite;
    transform-origin: center;
    background: -webkit-linear-gradient(0deg, #fc0d0d, #57d7bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
