.container {
    padding: 0 0rem;
}

.content {
    font-size: 40px;
    font-weight: 10000;
    animation: rotate 5s linear infinite alternate;
    transform-origin: center bottom;
    color: #ACB6E5;
    background: -webkit-linear-gradient(0deg, #fc0d0d, #078823);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
