.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: darkslateblue;
}

.headerLinkItem {
    margin: 2px;
    padding: 12px;
    color: aliceblue;
}

.headerLinkItem:hover {
    border-radius: 12px 12px 12px 12px;
    background-color: palevioletred;
}

.headerHomeItem {
    margin-right: auto;
}