.container {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 60%;
}

.title {
    font-size: 24px;
}

.subTitle {
    font-size: 14px;
}

.description {
    font-size: 12px;
    display: block;
    margin: 4px;
}

.descriptionLink {
    color: cornflowerblue;
}

.descriptionLink:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.contentPdfLink {
    color: cornflowerblue;
    margin-top: 24px;
    font-size: 12px;
}

.contentPdfLink:hover {
    color: cornflowerblue;
    text-decoration: underline;
}